@use "sass:map";
@import "normalize";

$theme-color-default: #c05b4d;
$theme-color-Mint-Green: #16982B;
$theme-color-Cobalt-Blue: #0047AB;
$theme-color-Hot-Pink: #FF69B4;
$theme-color-Dark-Violet: #9932CC;


$text-colour: #34495e;
$main-colour: #c05b4d;
$secondary-colour: #f8f5ec;
$body-width: 750px;
$code-colour: #c7254e;
$code-font-family: monospace !default;
$decoration-font-family: sans-serif;

@mixin underline-from-center() {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 2px;
      bottom: 0;
      left: 51%;
      right: 51%;
      background: $main-colour;
      transition-duration: 0.2s;
      transition-property: right, left;
      transition-timing-function: ease-out;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      &:before {
        right: 0;
        left: 0;
      }
    }
}

body {
    line-height: 1.5;
    color: $text-colour;
    background: #fefefe;
    border-top: 3px solid $main-colour;
}

.container {
    width: $body-width;
    margin: 0 auto;
    padding-bottom: 4rem;
}

header {
    margin-bottom: 4em;

    h1 {
        @include underline-from-center;
    }

    a, a:visited {
        color: $text-colour;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $decoration-font-family;
    margin-bottom: 0;
}

main {
    .subtitle {
        margin-top: 0;
        font-size: 14px;
        color: #8a8a8a;
    }

    a:hover {
        border-bottom: 1px solid $main-colour;
    }
}

a {
    color: $main-colour;
    text-decoration: none;
}

pre {
    padding: 1em;
}

pre, code {
    overflow: auto;
    font-family: $code-font-family;
    margin-bottom: 0;
    border-radius: 4px;
    color: $code-colour;
}

p > code {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 90%;
    background: $secondary-colour;
}

img {
    max-width: $body-width;
    margin: auto;
    display: block;
}

article {
    h1 {
        font-size: 1.6em;
        font-weight: 400;
        margin-top: 1.5em;
    }

    h2 {
        font-size: 1em;
        font-weight: 800;
        margin-top: 1em;
    }

    h1 + p {
        margin-top: 0.3em;
    }

    h2 + p {
        margin-top: 0.1em;
    }
}

blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba($text-colour, 0.8);
    background-color: rgba($theme-color-default, .05);
    border-left: 3px solid rgba($theme-color-default, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);

    p {
      margin: 0;
    }
}

.update {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba($text-colour, 0.8);
    background-color: rgba($theme-color-Mint-Green, .05);
    border-left: 3px solid rgba($theme-color-Mint-Green, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);

    p {
      margin: 0;
    }

    h3 {
        margin: 0;
        font-size: 1em;
        font-weight: bold;
    }
}

.date {
    color: #8a8a8a;
}
